         /* Document
         ************************** */         
         body {
            background: #5680e9;
         }
         #wrapper {
            text-align: center;
         }
         .imgbox {
            width: 100%;
            max-width: 60%;
            margin: 7% auto 0;
         }
         /* Preloader
         ************************** */
         .spinner-wrapper {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(255,255,255,0.95);
            z-index: 999999;
            background: #5680e9;
         }
         .spinner {
            position: absolute;
            margin: 100px auto;
            width: 50px;
            height: 40px;
            text-align: center;
            font-size: 10px;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -60%);
            -moz-transform: translate(-50%, -60%);
            -webkit-transform: translate(-50%, -60%);
            -webkit-transition: all .37s ease;
            -moz-transition: all .37s ease; 
            -ms-transition: all .37s ease;
            -o-transition: all .37s ease;
            transition: all .37s ease;
         }
         .spinner > div {
            background-color: #fff;
            height: 100%;
            width: 6px;
            display: inline-block;
            -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
            animation: sk-stretchdelay 1.2s infinite ease-in-out;
         }
         .spinner .rect2 {
            -webkit-animation-delay: -1.1s;
            animation-delay: -1.1s;
         }
         .spinner .rect3 {
            -webkit-animation-delay: -1.0s;
            animation-delay: -1.0s;
         }
         .spinner .rect4 {
            -webkit-animation-delay: -0.9s;
            animation-delay: -0.9s;
         }
         .spinner .rect5 {
            -webkit-animation-delay: -0.8s;
            animation-delay: -0.8s;
         }
         @-webkit-keyframes sk-stretchdelay {
            0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
            20% { -webkit-transform: scaleY(1.0) }
         }
         @keyframes sk-stretchdelay {
            0%, 40%, 100% { 
            transform: scaleY(0.4);
            -webkit-transform: scaleY(0.4);
            }  20% { 
            transform: scaleY(1.0);
            -webkit-transform: scaleY(1.0);
            }
         }
         /* Remover
         ************************** */
         .none {
            transition: all 1.7s ease;
            opacity: 0;
            display: none;
         }
  
html {
    scroll-behavior: smooth;
}

body {
    
    background-image: linear-gradient(to bottom, #5680e9, #5680e9, #5680e9, #5680e9, #5680e9, #4f86eb, #498bec, #4490ed, #3e9bee, #40a6ee, #4bb0ec, #5ab9ea, #5ab9ea, #5ab9ea, #5ab9ea, #5ab9ea, #5ab9ea, #5dbbea, #61bcea, #64beea, #6cc2ea, #74c6ea, #7ccaeb, #84ceeb, #84ceeb, #84ceeb, #84ceeb, #84ceeb, #84ceeb, #8acdec, #90cded, #96cced, #a3cbec, #aec9ea, #b8c9e8, #c1c8e4,#c1c8e4,#c1c8e4,#c1c8e4,#c1c8e4);
    /* background-image: linear-gradient(to bottom, #5680e9, #5680e9, #488ded, #3f98ee, #3ea3ee, #46aded, #4fb3ec, #59b9eb, #64beea, #6cc2ea, #74c6ea, #7ccaeb, #84ceeb, #84ceeb, #84ceeb, #8acdec, #90cded, #96cced, #a3cbec, #aec9ea, #b8c9e8, #c1c8e4); */
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    
}

/* SalonIt! Main Page */

/* Navbar */

#header {
    background: #5680E9;
}

#header_brand {
    font-family: "Pacifico", sans-serif;
    font-size: 1.925rem;
    margin-left: 10px;
    text-shadow: 2px 2px rgba(0,0,0,0.16);
    
}

#salonit-logo {
    width: 134px;
}

.navbar-nav {
    float: right;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 1.05rem;
    text-transform: uppercase;
}

.nav-item {
    margin-left: 10px;
    margin-right: 10px;
    padding: 0;
}

/* Main Page Body */

#mainpagebody {
    /* background-image: linear-gradient(to bottom, #5680e9, #5680e9, #5680e9, #5680e9, #5680e9, #4f86eb, #498bec, #4490ed, #3e9bee, #40a6ee, #4bb0ec, #5ab9ea); */
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

#welcome {
    color: white;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 1.75rem;
    text-transform: uppercase;
    /* margin-left: 130px; */
    text-shadow: 2px 2px rgba(0,0,0,0.4);
}

#mpbrand {
    font-family: "Pacifico", sans-serif;
    font-size: 7rem;
    margin-left: 10px;
    text-shadow: 2px 2px rgba(0,0,0,0.16);

}

#spraygun {
    width: 400px;
    margin-bottom: 100px;
}

.calltoaction {
    color: white;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    text-shadow: 2px 2px rgba(0,0,0,0.4);
    line-height: 10px;
}

#appstorelogo {
    width: 156.82px;
    height: 55px;
}

#playstorelogo {
    width: 156.82px;
    height: 55px;
}

.appdiv {
    width: 320px;
    height: 55px;
}

/* What SalonIt! Does */

/* .whatsalonitdoes {
    background-image: linear-gradient(to bottom, #3f9eee, #40a4ee, #43a9ee, #48aeed, #4fb3ec, #56b7eb, #5dbaeb, #64beea, #6cc2ea, #74c6ea, #7ccaeb, #84ceeb);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
} */

.pbrand {
    font-family: "Rubik", sans-serif;
    color: white;
    text-shadow: 2px 2px rgba(0,0,0,0.4);
}

.brand {
    font-family: "Pacifico", sans-serif;
    font-size: 3.15rem;
    margin-left: 10px;
    text-shadow: 2px 2px rgba(0,0,0,0.16);

}

#prebrand {
    margin-right: 150px;
}

#postbrand {
    margin-left: 150px;
}

#comb {
    width: 220px;
}

.features {
    font-family: "Rubik", sans-serif;
    color: white;
    font-weight: 300;
    text-shadow: 0px 1px rgba(0,0,0,0.20);
    font-size: 1.05rem;
    line-height: 1;
}

#phonelocation {
    width: 260px;
}

#megaphone {
    width: 200px;
}

#timeismoney {
    width: 260px;
}

.feature {
    text-align: center;
    text-shadow: 2px 2px rgba(0,0,0,0.16);
}

/* The SalonIt! Launch */

/* .thesalonitlaunch {
    background-image: linear-gradient(to bottom, #84ceeb, #96cced, #a7caec, #b5c9e9, #c1c8e4);
} */

#scissors {
    width: 395px;
}

#followuson {
    font-family: "Rubik", sans-serif;
    color: white;
    font-weight: 300;
    text-shadow: 0px 1px rgba(0,0,0,0.20);
    font-size: 1.4rem;
    line-height: 1;
    vertical-align: middle;
    margin-right: 20px;
}

.socialmediaicons {
    width: 25px;
    margin: 2px;
    margin-left: 25px;
}

/* Footer */

#footer {
    background-color: rgba(0,0,0,0);
    /* background-image: linear-gradient(to bottom, #a3cbec, #aec9ea, #b8c9e8, #c1c8e4, #c1c8e4, #c1c8e4, #c1c8e4, #c1c8e4, ); */
}

.email {
    color: white;
}

#footercontent {
    
    color: white;
    font-family: "Rubik", sans-serif;
    font-weight: 300;
    font-size: 5.25rem;
    line-height: 10px;
    text-align: center;

}

.footerdetails {
    color: white;
    font-family: "Rubik", sans-serif;
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 15px;
    text-align: left;
}

.rightborder {
    border-right: solid 2px white;
}

.bottomborder {
    border-bottom: solid 2px white;
}

/* Media Queries */

@media only screen and (max-width: 600px) {

    html { 
       font-size: 12px;
    }

    #salonit-logo {
        width: 70px;
    }

    #appstorelogo {
        width: 90px;
    }

    #playstorelogo {
        width: 90px;
    }

    #phonelocation {
        width: 130px;
    }

    #megaphone {
        width: 130px;
    }

    #timeismoney {
        width: 130px;
    }

    #embeddedvideo {
        width: 400px;
        height: 250px;
    }

    .socialmediaicons {
        width: 20px;
    }

    #footercontent {
        font-size: 4.25rem;
    }
}

 @media only screen and (max-width: 400px) {

    html { 
       font-size: 10px;
    }

    #salonit-logo {
        width: 70px;
    }

    #appstorelogo {
        width: 90px;
    }

    #playstorelogo {
        width: 90px;
    }

    #phonelocation {
        width: 130px;
    }

    #megaphone {
        width: 130px;
    }

    #timeismoney {
        width: 130px;
    }

    #embeddedvideo {
        width: 280px;
        height: 160px;
    }

    .socialmediaicons {
        width: 15px;
    }

    #footercontent {
        font-size: 3.25rem;
    }
}

/* @media (max-width: 767.98px) {

       #footercontent {
           font-size: 4.25rem;
       }

       #embeddedvideo {
           width: 440px;
           height: 250px;
       }
 } */


 /* NOTES */
 /* ADD MEDIA QUERIES FOR TEXT ON ALL THE DIFFERENT MOBILE PHONE SIZES */
 /* ADD MEDIA QUERIES FOR IMAGES ON ALL THE DIFFERENT MOBILE PHONE SIZES */
 /* ASK GRAPHICS TEAM TO RESIZE THE LOGO SO THAT NAVBAR CAN BE CENTERED PROPERLY */
 /* ASK GRAPHICS TEAM TO MAKE SVGS OF ALL THE COMBS and SCISSORS AND STUFF */
 /* CORRECTLY CENTER BOTH THE APP AND PLAYSTORE LOGOS */
 /* PROVIDE ATTRIBUTION FOR VECTOR SITE FOR COMB, SCISSORS, AND SPRAYGUN */
 /* ADD SLIDE FEATURE USING JQUERY */
 /* ADD FAVICON */
 /* ADD SMOOTH SCROLLING */
 /* CENTER THE NAV BAR CONTENTS */
