body {
    background-image: linear-gradient(to bottom, #5680e9, #5680e9, #5680e9, #5680e9, #5680e9, #4f86eb, #498bec, #4490ed, #3e9bee, #40a6ee, #4bb0ec, #5ab9ea, #5ab9ea, #5ab9ea, #5ab9ea, #5ab9ea, #5ab9ea, #5dbbea, #61bcea, #64beea, #6cc2ea, #74c6ea, #7ccaeb, #84ceeb, #84ceeb, #84ceeb, #84ceeb, #84ceeb, #84ceeb, #8acdec, #90cded, #96cced, #a3cbec, #aec9ea, #b8c9e8, #c1c8e4,#c1c8e4,#c1c8e4,#c1c8e4,#c1c8e4);
    /* background-image: linear-gradient(to bottom, #5680e9, #5680e9, #488ded, #3f98ee, #3ea3ee, #46aded, #4fb3ec, #59b9eb, #64beea, #6cc2ea, #74c6ea, #7ccaeb, #84ceeb, #84ceeb, #84ceeb, #8acdec, #90cded, #96cced, #a3cbec, #aec9ea, #b8c9e8, #c1c8e4); */
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    
}

/* SalonIt! Main Page */

/* Navbar */

#header {
    background: #5680E9;
}

#header_brand {
    font-family: "Pacifico", sans-serif;
    font-size: 1.925rem;
    margin-left: 10px;
    text-shadow: 2px 2px rgba(0,0,0,0.16);
    
}

#salonit-logo {
    width: 134px;
}

.navbar-nav {
    float: right;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 1.05rem;
    text-transform: uppercase;
}

.nav-item {
    margin-left: 10px;
    margin-right: 10px;
    padding: 0;
}

/* Main Page Body */

#mainpagebody {
    /* background-image: linear-gradient(to bottom, #5680e9, #5680e9, #5680e9, #5680e9, #5680e9, #4f86eb, #498bec, #4490ed, #3e9bee, #40a6ee, #4bb0ec, #5ab9ea); */
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

#welcome {
    color: white;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 1.75rem;
    text-transform: uppercase;
    /* margin-left: 130px; */
    text-shadow: 2px 2px rgba(0,0,0,0.4);
}

#mpbrand {
    font-family: "Pacifico", sans-serif;
    font-size: 7rem;
    margin-left: 10px;
    text-shadow: 2px 2px rgba(0,0,0,0.16);

}

#spraygun {
    width: 400px;
    margin-bottom: 100px;
}

.calltoaction {
    color: white;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    text-shadow: 2px 2px rgba(0,0,0,0.4);
    line-height: 10px;
}

#appstorelogo {
    width: 156.82px;
    height: 55px;
}

#playstorelogo {
    width: 156.82px;
    height: 55px;
}

/* What SalonIt! Does */

/* .whatsalonitdoes {
    background-image: linear-gradient(to bottom, #3f9eee, #40a4ee, #43a9ee, #48aeed, #4fb3ec, #56b7eb, #5dbaeb, #64beea, #6cc2ea, #74c6ea, #7ccaeb, #84ceeb);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
} */

.pbrand {
    font-family: "Rubik", sans-serif;
    color: white;
    text-shadow: 2px 2px rgba(0,0,0,0.4);
}

.brand {
    font-family: "Pacifico", sans-serif;
    font-size: 3.15rem;
    margin-left: 10px;
    text-shadow: 2px 2px rgba(0,0,0,0.16);

}

#prebrand {
    margin-right: 150px;
}

#postbrand {
    margin-left: 150px;
}

#comb {
    width: 220px;
}

.features {
    font-family: "Rubik", sans-serif;
    color: white;
    font-weight: 300;
    text-shadow: 0px 1px rgba(0,0,0,0.20);
    font-size: 1.05rem;
    line-height: 1;
}

#phonelocation {
    width: 260px;
}

#megaphone {
    width: 200px;
}

#timeismoney {
    width: 260px;
}

.feature {
    text-align: center;
    text-shadow: 2px 2px rgba(0,0,0,0.16);
}

/* The SalonIt! Launch */

/* .thesalonitlaunch {
    background-image: linear-gradient(to bottom, #84ceeb, #96cced, #a7caec, #b5c9e9, #c1c8e4);
} */

#scissors {
    width: 395px;
}

/* Footer */

#footer {
    background-color: rgba(0,0,0,0);
    /* background-image: linear-gradient(to bottom, #a3cbec, #aec9ea, #b8c9e8, #c1c8e4, #c1c8e4, #c1c8e4, #c1c8e4, #c1c8e4, ); */
}

#footercontent {
    
    color: white;
    font-family: "Rubik", sans-serif;
    font-weight: 300;
    font-size: 5.25rem;
    line-height: 10px;
    text-align: center;

}

.footerdetails {
    color: white;
    font-family: "Rubik", sans-serif;
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 15px;
    text-align: left;
}

.rightborder {
    border-right: solid 2px white;
}

.bottomborder {
    border-bottom: solid 2px white;
}

@media only screen and (max-width: 320px) {

    html { 
       font-size: 91px;
    }
 
 }

 @media only screen and (max-width: 320px) {

    html { 
       font-size: 10px;
    }

    
 
 }

 /* NOTES */
 /* ADD MEDIA QUERIES FOR TEXT ON ALL THE DIFFERENT MOBILE PHONE SIZES */
 /* ADD MEDIA QUERIES FOR IMAGES ON ALL THE DIFFERENT MOBILE PHONE SIZES */
 /* ASK GRAPHICS TEAM TO RESIZE THE LOGO SO THAT NAVBAR CAN BE CENTERED PROPERLY */
 /* ASK GRAPHICS TEAM TO MAKE SVGS OF ALL THE COMBS and SCISSORS AND STUFF */
 /* CORRECTLY CENTER BOTH THE APP AND PLAYSTORE LOGOS */
